@import url('https://fonts.googleapis.com/css2?family=Anta&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.mountain-block {
    height: 40%;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
    cursor: pointer;
}

.mountain-block:hover {
    background-color: #D8D8D8
}

.pinpoint-hover {
    background-color: #D8D8D8
}

